<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/login.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div>
                <span class="heading">Welcome To Login Page</span>
            </div>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <form action="{{ url_for('login_post') }}" method="POST">
                <label for="college-id">College ID:</label>
                <input type="text" id="college-id" name="college-id" placeholder="Enter your ID Number" required><br><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your Password" required><br><br>
                <input type="submit" class="button" value="Login">
            </form>
        </div>
        <div class="side-container">
            <span><h1>GLA&nbsp;</h1></span><span><h1>&nbsp;UNIVERSITY,&nbsp;</h1></span><span><h1>Mathura</h1></span>
            <img src="./static/icon.png">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./static/login.js"></script>
</body>
</html>
