body {
    font-family: Arial, sans-serif;
    margin: 0 0;
    padding: 0;
    background-color: #f5f7fa;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0086c7;
    height: 60px;
    color: white;
    box-shadow: 0px 5px 5px 0px rgba(189,183,189,1);
}

.header .side-heading{
    width: 20%;
    height: 35px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
    font-size: 1.3em;
    box-shadow: 5px 0px 5px 0px #0276b0;
}

.header .side-heading .header-info{
    margin: 2px;
}

.header .side-heading .logo {
    display: block;
    width: 38px;
    height: auto;
    margin-right: 10px;
}

.header .menu {
    height: 60px;
    min-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.header .menu h1{
    font-size: 1.5em;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: sticky;
    top: 0px;
    width: 20.52%;
    height: fit-content;
    background-color: white;
    padding: 10px 10px;
    border-right: 1px solid #ddd;
    box-shadow: 5px 0px 5px 0px rgba(189,183,189,1);
}

.menu-list {
    list-style: none;
    padding-left: 10px;
}

.menu-title {
    font-weight: bold;
    color: #0086c7;
    margin: 20px 10px;
}

.menu-list .items {
    padding: 6px 0px;
    border-radius: 2px;
}

.menu-list .items:hover{
    background-color: #4fb8ec57;
}

.menu-list .items a{
    display: flex;
    align-items: center;
}

.menu-list .side-icon{
    display: block;
    width: 20px;
    height: auto;
    margin-right: 15px;
    opacity: 0.7;
}

.menu-list a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.menu-list a:hover {
    font-size: 1rem;
    transition: .3s linear;
}

.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

.content-container{
    width: 77.5%;
    display:flex;
    justify-content: center;
}

.inner-container{
    width: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: fit-content;
    margin: 20px;
    padding: 30px 100px;
    box-shadow: 5px 5px 10px 0px rgba(135,134,138,1);
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgba(115,215,247,1) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
}

.inner-container div img{
    transform: scale(0.6);
    filter: drop-shadow(10px 10px 20px #0d628c);
    transition: transform 330ms ease-in-out;
}

.inner-container div img:hover{
    transform: scale(0.7);
}

.inner-container div h1{
    margin-top: 10px;
    margin-bottom: 0;
    color: white;
    font-size: 30px;
}
.inner-container div h2{
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
}


.select {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px 0px rgba(128,129,130,1);
    border-radius: 3px;
    margin: 2px;
}

.select h3 {
    margin: 0;
    margin: 0 20px;
    background: linear-gradient(90deg, rgb(3, 107, 160) 0%, rgb(34, 153, 189) 16%, rgb(104, 165, 236) 50%, rgb(34, 153, 189) 88%, rgb(3, 107, 160) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.label {
    display: flex;
    align-items: center;
}

.label form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.label form select{
    margin: 0 20px;
    width: 150px;
}

.label form select option:hover{
    color: white;
    background-color: #0276b0;
}

.label form button{
    margin: 0 20px;
    width: 150px;
    height: 30px;
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgb(100, 211, 248) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
    border-radius: 10px;
    border: 0;
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 5px 0px rgba(135,134,138,1);
    cursor: pointer;
    text-shadow: 0 0 2px 0 rgba(135,134,138,1);
    transition: transform 330ms ease-in-out;
}

.label form button:hover{
    box-shadow: 4px 4px 6px 0px rgba(135,134,138,1);
    transform: scale(1.1);
}

#course {
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
    cursor:pointer;
}

.total {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.ad {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    height: 50px;
    width: 80vw;
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgb(87, 205, 244) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
    box-shadow: 3px 3px 6px 0px rgba(128,129,130,1);
    border-radius: 3px;
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

.ad h3 {
    display: flex;
    text-wrap: nowrap;
    white-space: nowrap;
    animation: slide 17s linear infinite;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.labels {
    width: auto;
    height: auto;
    display: flex;
}

.labels img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.labels_placement {
    width: auto;
    height: auto;
    display: flex;
}

.labels_placement img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.diag {
    margin: 2px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    box-shadow: 3px 3px 5px 0px rgba(128,129,130,1);
    border-radius: 5px;
    height: auto;
    background-color: white;
}

.diag .diag_heading{
    margin: 0;
    text-align: center;
    font-size: 15px;
    background: linear-gradient(90deg, rgb(3, 107, 160) 0%, rgb(34, 153, 189) 16%, rgb(104, 165, 236) 50%, rgb(34, 153, 189) 88%, rgb(3, 107, 160) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.diag-container{
    display: flex;
    flex-direction: row;
}

.video {
    display: flex;
    overflow: hidden;
    margin-top: 10px 0;
    border-radius: 5px;
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgb(87, 205, 244) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
    box-shadow: 3px 3px 6px 0px rgba(128,129,130,1);
}

.video_placement{
    display: flex;
    overflow: hidden;
    margin-top: 10px 0;
    border-radius: 5px;
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgb(87, 205, 244) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
    box-shadow: 3px 3px 6px 0px rgba(128,129,130,1);
    width: 70%;
    height: auto;
}

.video_placement video {
    width: 100%;
    height: inherit;
}

.video video {
    width: 100%;
    height: inherit;
}

.past{
    display: flex;
    flex-direction: column;
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgb(87, 205, 244) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
    box-shadow: 3px 3px 6px 0px rgba(128,129,130,1);
    border-radius: 5px;
    margin: 2px;
}
.past .timeline-heading{
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
.past .container{
    position: relative;
    padding: 0 40px;
}
.past .container .timeline-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 40px;
    padding-bottom: 20px;
    position: relative;
    width: auto;
}
.card-container{
    width: 60%;
    height: auto;
    padding: 10px 20px;
    background-color: white;
    position:relative;
    border-radius: 6px;
}

.card-container:hover{
    box-shadow: 3px 3px 6px 0px rgba(128,129,130,1);
}

.card-container:hover .circle{
    box-shadow: 3px 3px 6px 0px rgba(128,129,130,1);
}

.timeline-container::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 84.8%;
    margin-left: -3px;
    
}

.arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 7px;
    z-index: 1;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
    right: -10px;
}
.circle{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top:7px;
    right: -54px;
    z-index: 1;
}

.circle .inner-circle{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgb(87, 205, 244) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
}
.card-container .head{
    font-size: 12px;
    color: rgb(104, 106, 107);
    margin-top: 5px;
}
.card-container .value{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(3, 107, 160) 0%, rgb(34, 153, 189) 16%, rgb(104, 165, 236) 50%, rgb(34, 153, 189) 88%, rgb(3, 107, 160) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}
