.container{
    margin: 50px auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgba(115,215,247,1) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 6px grey;
}
.container .form-container{
    flex: 1;
    background-color: white;
    display: flex;
    color:#0276b0;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
}
.container .form-container .heading{
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(3, 107, 160) 0%, rgb(34, 153, 189) 16%, rgb(104, 165, 236) 50%, rgb(34, 153, 189) 88%, rgb(3, 107, 160) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.error {
    color: red;
    margin-top: 10px;
}
.container .form-container form{
    display: flex;
    flex-direction: column;
}
.container .form-container form label{
    margin: 10px 0;
}
.container .form-container input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container .form-container .button{
    height: 40px;
    background: rgb(0,134,199);
    background: linear-gradient(90deg, rgba(0,134,199,1) 0%, rgba(46,175,216,1) 16%, rgb(100, 211, 248) 50%, rgba(46,175,216,1) 88%, rgba(0,134,199,1) 100%);
    border-radius: 10px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 3px 3px 5px 0px rgba(135,134,138,1);
    cursor: pointer;
    text-shadow: 0 0 2px 0 rgba(135,134,138,1);
    transition: transform 330ms ease-in-out;
}
.container .form-container .button:hover{
    box-shadow: 4px 4px 6px 0px rgba(135,134,138,1);
    transform: scale(1.1);
}

.container .side-container{
    width: 30%;
    flex: 1;
    padding: 40px;
    position: relative;
}
.container .side-container img{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
